@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');


  body {
    background-color: rgb(51,77,92);
    color: #333;
    font-family: 'Saira Semi Condensed', sans-serif;
    line-height: 18px;
  }



  .navbar-brand {
      font-size: 150%;
      padding-top: 10px
  }


  .wrapper {
    background: #fff;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  .booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    background: rgb(239,200,74);
    border: 1px solid #ccc;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    margin-top: 10px;
    margin-botttom: 15px;
    padding: 20px;
    text-align: center;
  }

  .form-group {
      background-color: rgb(239,200,74);
      padding: 15px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}
