<% if flash.has?(:error) %>
  <%= flash[:error] %>
<% end %>

 <div class="form-group"> 
    
<h2>Login</h2>

<form action="/login" method="POST">
	<label>Username:</label><input type="text" name="username" class="form-control"></br>
	<label>Password:</label><input type="password" name="password" class="form-control"></br>
    
    <input class="btn btn-secondary" type="submit" value="Login" class="form-control">

</form>

    <br></br>
    <a href="/signup">Dont have a login? Sign Up Here.</a>
</div>
