
<div class="container">

	<h1>Sign Up for Beer Indexer</h1>

	<form action="/signup" method="POST">
	Username:<input type="text" name="username"></br>
	Email:<input type="text" name="email" id="email"></br>
	Password:<input type="password" name="password"></br>


	<input class="btn btn-secondary" type="submit" value="Sign Up" name="Sign Up">
	</form>

</div>
