



 <div class="form-group"> 
     <% if flash.has?(:error) %>
  <%= flash[:error] %>
<% end %>

	<h1>Sign Up for Beer Indexer</h1>

	<form action="/signup" method="POST">
	<label>Username:</label><input type="text" name="username" class="form-control"></br>
	<label>Email:</label><input type="text" name="email" id="email" class="form-control"></br>
	<label>Password:</label><input type="password" name="password" class="form-control"></br>


	<input class="btn btn-secondary" type="submit" value="Sign Up" name="Sign Up" class="form-control">
	</form>

</div>
