<div class="container">
  <h1 class="text-left"><%=@user.username %>'s Beer Profile</h1> 



<h3>Your Beers :</h3>

</br>
<% @beers.each do |beer| %>
	<li><a href="/beers/<%=beer.id%>"><%= beer.name %></a></li>
<% end %>


