<div class="container">
  <h1 class="text-left">Beers from <%= @brewery.name %></h1> 


 <% @brewery.beers.each do |beer| %>
	<li><a href="/beers/<%=beer.id%>"><%= beer.name %></a></li>
<% end %>
</div>