
<div class="container">
    <% if flash.has?(:error) %>
  <%= flash[:error] %>
<% end %>
    
    <h1 class="text-left">Beer List</h1>

    <% @beers.each do |beer|  %>
        <li><a href="/beers/<%=beer.id%>"><%= beer.name %></a></li>
    <% end %>

</div>