
 <div class="form-group"> 
     <% if flash.has?(:error) %>
  <%= flash[:error] %>
<% end %>
    <h1>Add a New Beer</h1>
              
     <form action="/beers" method="POST">
        <label>Name: </label><input type="text" name="name" id="name" class="form-control">
        <br>
        <label>Brewery: </label><input type="text" name="brewery" id="brewery" class="form-control">
        <br>
        <label>ABV: </label><input type="float" name="abv" id="abv" class="form-control">
        <br>
        <label>Style: </label><input type="text" name="style" id="style" class="form-control">
        <br>
        <label>Description:</label><input type="text" name="description" id="description" class="form-control">
        <br>
        <input class="btn btn-secondary" type="submit" value="Submit" class="form-control">
     </form>
</div> 
