<% if flash.has?(:error) %>
  <%= flash[:error] %>
<% end %>

<div class="container">
	<h1>Add a New Beer<h1>
	<form action="/beers" method="POST">
		<label>Name: </label><input type="text" name="name" id="name">
		<label>Brewery: </label><input type="text" name="brewery" id="brewery">
		<label>ABV: </label><input type="float" name="abv" id="abv">
		<label>Style: </label><input type="text" name="style" id="style">
		<label>Description</label><input type="text" name="description" id="description">

		<input class="btn btn-secondary" type="submit" value="Submit">
	</form>

</div>
