

<div class="container">
  <h1>Beer Indexer</h1>

   <button type="button" class="btn btn-secondary"><a href="/login">Login</a></button>
       <br> </br>

    <button type="button" class="btn btn-secondary"><a href="/signup">Sign Up</a></button>
    <br> </br>

     <button type="button" class="btn btn-secondary"><a href="/beers">Just Visting? View Beers</a></button>
    <br> </br>
</div>
